<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
	<div class="row justify-content-left bg-light">
		<div class="col-12">
			<h4 class="display-4">
				Statusübersicht für Ihren Task <i th:text="${task.title}"></i>
			</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Status</th>
				</tr>
				</thead>
				<tr th:each="status : ${statuses}">
					<td th:text="${status.user.name}"/>
					<td th:text="${status.status.getDisplayValue()}"/>
					<td>
						<a th:if="${status.status.toString()=='FERTIG'}" th:href="'/tasks/'+${task.id}+'/'+${status.user.login}+'/rating'"
						   class="btn btn-primary">Bewerten</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>