<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container-fluid">
	<div class="row justify-content-center bg-light">
		<div class="col-12">
			<h4 class="display-4" th:text="${task.title}"
				th:classappend="${task.status.status.toString()=='FERTIG' or task.status.status.toString()=='ABGELAUFEN'} ? text-secondary : text-primary">Task</h4>
			<form th:unless="${task.status.status.toString()=='FERTIG' or task.status.status.toString()=='ABGELAUFEN'}"
				  id="formName" th:action="@{/tasks/{id}/check(id=${task.id})}"
				  th:object="${task}" method="post">
				<button type="submit" class="btn btn-success">Done!</button>
			</form>
			<form th:unless="${task.status.status.toString()!='FERTIG' or task.status.status.toString()=='ABGELAUFEN'}"
				  id="formName" th:action="@{/tasks/{id}/reset(id=${task.id})}"
				  th:object="${task}" method="post">
				<button type="submit" th:unless="${task.deadline != null and task.deadline.before(currentDate)}" class="btn btn-secondary">Zurücksetzen</button>
			</form>
		</div>
	</div>
	<div class="row row-cols-1 bg-light">
		<div class="col mb-4">
			<div class="card">
				<div class="card-body">
					<p class="card-text" th:text="${task.shortDescription}">Keine Kurzbeschreibung verfügbar</p>
					<p class="card-text" th:if="${task.deadline!=null}" th:text="'Abgabetermin: '+${#dates.format(task.deadline, 'dd.MM.yyyy')}">Kein Abgabetermin</p>
					<p class="card-text" th:if="${task.deadline==null}">Kein Abgabetermin</p>
					<p class="card-text" th:text="${task.longDescription}">Keine Langeschreibung verfügbar</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row justify-content-center bg-light">
		<div class="col-12">
			<h4 class="display-4">
				Kommentar
			</h4>
			<form th:action="@{/tasks/{id}(id=${task.id})}" th:object="${status}"
				method="post">
				<div class="form-group">
					<textarea th:field="*{comment}" class="form-control" placeholder="Kommentar"
							  maxlength="500"></textarea>
					<small class="form-text text-muted">Sie können dem Aufgabensteller hier Feedback zum Task geben.</small>
				</div>
				<button type="submit" class="btn btn-primary">Speichern!</button>
				<a href="/tasks" class="btn btn-danger">Zurück</a>
			</form>
		</div>
	</div>
</div>	
	<th:block th:replace="fragments :: scripts">
</body>
</html>