<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>
	<div class="container-fluid">
		<div class="row justify-content-center bg-light">
			<div class="col-8">
				<h4 class="display-4">
					Offene Aufgaben
				</h4>
				<span th:if="${#lists.size(openTasks)==0}">
					Keine offenen Aufgaben gefunden!
				</span>
			</div>
			<div class="col-4">
			<form class="form-inline" th:object="${search}" th:action="@{/tasks}" method="get">
				<div class="form-group">
					<input th:field="*{search}" class="form-control" placeholder="Suche nach Task"/>
				</div>
				<button type="submit" class="btn btn-primary"><i class="material-icons">search</i></button>
			</form>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${openTasks}">

					<div class="card">
						<div class=" card-body">
							<h5 class="card-title" th:text="${t.title}">Card title</h5>
							<h6 class="card-subtitle mb-2 text-muted"
								th:text="'In '+${t.topic.title}">Card subtitle</h6>
							<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
							<form th:id="formName" th:action="@{/tasks/{id}/check(id=${t.id})}"
								  th:object="${t}" method="post">
							<a th:href="'/tasks/'+${t.id}" class="btn btn-primary">Öffnen</a>
							<button type="submit" class="btn btn-success">Erledigt</button>
							</form>
						</div>
					</div>

			</div>
		</div>

		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Erledigte Aufgaben
				</h4>
				<span th:if="${#lists.size(finishedTasks)==0}">
					Keine erledigten Aufgaben gefunden!
				</span>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${finishedTasks}">
				<div class="card">
					<div class=" card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'In '+${t.topic.title}">Card subtitle</h6>
						<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
						<form th:id="formName" th:action="@{/tasks/{id}/reset(id=${t.id})}"
							  th:object="${t}" method="post">
							<a th:href="'/tasks/'+${t.id}" class="btn btn-primary">Öffnen</a>
							<button type="submit" class="btn btn-secondary">Zurücksetzen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments :: scripts">
</body>
</html>