<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>
	
	<div class="container-fluid">
		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Beschreibung für das Topic <i th:text="${topic.title}"></i>
				</h4>
			</div>
		</div>
		<div class="row row-cols-1 bg-light">
			<div class="col mb-4">
				<div class="card">
					<div class="card-body">
						<p class="card-text" th:text="${topic.shortDescription}">Keine Beschreibung</p>
						<p class="card-text" th:text="${topic.longDescription}">Keine Beschreibung</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Offene Aufgaben
				</h4>
				<span th:if="${#lists.size(openTasks)==0}">
					Sie haben keine offenen Aufgaben!
				</span>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${openTasks}">
				<div class="card">
					<div class=" card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'In '+${t.topic.title}">Card subtitle</h6>
						<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
						<p class="card-text" th:if="${t.deadline!=null}" th:text="'Abgabetermin: '+${#dates.format(t.deadline, 'dd.MM.yyyy')}">Kein Abgabetermin.</p>
						<p class="card-text" th:if="${t.deadline==null}">Kein Abgabetermin</p>
						<form th:action="@{/topics/{uuid}/{id}/check(id=${t.id}, uuid=${topic.uuid})}"
							  th:object="${topic}"
							  method="post">
							<a th:href="'/tasks/'+${t.id}" class="btn btn-primary">Öffnen</a>
							<button type="submit" class="btn btn-success">Erledigt</button>
						</form>
					</div>
				</div>

			</div>
		</div>

		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Erledigte Aufgaben
				</h4>
				<span th:if="${#lists.size(finishedTasks)==0}">
					Sie haben keine Aufgaben erledigt!
				</span>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${finishedTasks}">
				<div class="card">
					<div class=" card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'In '+${t.topic.title}">Card subtitle</h6>
						<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
					<p class="card-text" th:if="${t.deadline!=null}" th:text="'Abgabetermin: '+${#dates.format(t.deadline, 'dd.MM.yyyy')}">Kein Abgabetermin.</p>
					<p class="card-text" th:if="${t.deadline==null}">Kein Abgabetermin</p>
						<form th:action="@{/topics/{uuid}/{id}/reset(id=${t.id}, uuid=${topic.uuid})}"
							  th:object="${topic}" method="post">
							<a th:href="'/tasks/'+${t.id}" class="btn btn-primary">Öffnen</a>
							<button type="submit" th:unless="${t.deadline != null and t.deadline.before(currentDate)}" class="btn btn-secondary">Zurücksetzen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Abgelaufene Aufgaben
				</h4>
				<span th:if="${#lists.size(expiredTasks)==0}">
					Sie haben keine abgelaufenen Aufgaben!
				</span>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${expiredTasks}">
				<div class="card">
					<div class=" card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'In '+${t.topic.title}">Card subtitle</h6>
						<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
						<p class="card-text" th:if="${t.deadline!=null}" th:text="'Abgabetermin: '+${#dates.format(t.deadline, 'dd.MM.yyyy')}">Kein Abgabetermin.</p>
						<p class="card-text" th:if="${t.deadline==null}">Kein Abgabetermin</p>
						<form th:action="@{/topics/{uuid}/{id}/reset(id=${t.id}, uuid=${topic.uuid})}"
							  th:object="${topic}" method="post">
							<a th:href="'/tasks/'+${t.id}" class="btn btn-primary">Öffnen</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>