<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid">
	
		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Beschreibung für Ihr Topic <i th:text="${topic.title}"></i>
				</h4>
				<form th:action="@{/topics/{uuid}/manage(uuid=${topic.uuid})}" th:object="${topic}"
					method="post">
					<div class="form-group">
						<select class="form-control" id="visibility" th:field="*{visibility}">
							<option th:each="option: ${T(edu.hm.cs.katz.swt2.agenda.common.VisibilityEnum).values()}"
									th:value="${option}" th:text="${option.DisplayValue}"></option>
						</select>
						<small class="form-text text-muted">
							Öffentliche Topics, sind für alle registrierten Nutzer sichtbar. Private Topics können nur
							über den Abo Code gefunden werden.
						</small>
					</div>
					<div class="form-group">
						<input th:field="*{shortDescription}" class="form-control"
							placeholder="Kurzbeschreibung" minlength="10" maxlength="120"/> <small class="form-text text-muted">
							Beschreiben Sie das Topic kurz. </small>
					</div>
					<div class="form-group">
						<textarea th:field="*{longDescription}" class="form-control" placeholder="Langbeschreibung"
								  maxlength="1000"></textarea>
						<small class="form-text text-muted">Sie können auch eine ausführliche Beschreibung
							hinzufügen. </small>
					</div>

					<button type="submit" class="btn btn-primary">Speichern!</button>
					<a href="/topics" class="btn btn-danger">Zurück</a>
				</form>
			</div>
		</div>

		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">
					Aufgaben-Übersicht für Ihr Topic <i th:text="${topic.title}"></i> <a
						th:href="'/topics/'+${topic.uuid}+'/createTask'"
						class="btn btn-primary">Task erstellen</a>
				</h4>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-light">
			<div class="col mb-4" th:each="t : ${tasks}">
				<div class="card">
					<div class=" card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<p class="card-text" th:text="${t.shortDescription}">Keine Beschreibung</p>
						<p class="card-text" th:if="${t.deadline!=null}" th:text="'Abgabetermin: '+${#dates.format(t.deadline, 'dd.MM.yyyy')}">Kein Abgabetermin</p>
						<p class="card-text" th:if="${t.deadline==null}">Kein Abgabetermin</p>
						<a class="card-text" th:href="'/tasks/'+${t.id}+'/statuses'" th:if="${#lists.size(t.doneStatuses)!=1}"
						   th:text="${#lists.size(t.doneStatuses)}+' Abonnenten haben den Task erledigt'">Keine Abonnenten
							haben den Task abgeschlossen</a>
						<a class="card-text" th:href="'/tasks/'+${t.id}+'/statuses'" th:if="${#lists.size(t.doneStatuses)==1}"
						   th:text="${#lists.size(t.doneStatuses)}+' Abonnent hat den Task erledigt'">Keine Abonnenten
							haben den Task abgeschlossen</a>
						<form th:action="'/tasks/'+${t.id}+'/delete'" method="post">
							<a th:href="'/tasks/'+${t.id}+'/manage'"
							   class="btn btn-primary">Verwalten</a>
							<button class="btn btn-danger" type="submit">Löschen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>