<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid">
		<div class="row justify-content-center bg-light">
			<div class="col-12">
				<h4 class="display-4">Neuen Anwender erstellen</h4>

				<form id="formName" th:action="@{/users}" th:object="${newUser}"
					method="post">

					<div class="form-group col-4">
						<input th:field="*{login}" class="form-control"
							placeholder="Login" minlength="4" maxlength="20"/>
						<small class="form-text text-muted">Geben Sie einen neuen Login mit mindestens 4 Zeichen ein.</small>
					</div>
					
					<div class="form-group col-4">
						<input th:field="*{name}" class="form-control"
							placeholder="Name" minlength="4" maxlength="32"/>
						<small class="form-text text-muted">Geben Sie einen Namen mit mindestens 4 Zeichen ein.</small>
					</div>

					<div class="form-group col-4">
						<input th:field="*{password}" class="form-control"
							placeholder="Password" type="password" minlength="8" maxlength="20"/>
						<small class="form-text text-muted">Geben Sie ein Passwort mit mindestens 8 Zeichen ein.</small>
					</div>

					<!-- TODO Überprüfung der Datenschutzerklärung in späterem Stadium implementieren
					<div class="form-group form-check col-4">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Die Datenschutzerklärung habe ich zur Kenntnis genommen</label>
					</div> -->
					<button type="submit" class="btn btn-primary">Erstellen!</button>
					<a href="/users" class="btn btn-danger">Abbrechen</a>
				</form>
			</div>
		</div>
	</div>
	
	<th:block th:replace="fragments :: scripts">
</body>
</html>